# ignore emacs backups
*~
*.bak
*._*

# ignore c build
*.o
*.a
*.so
*.dylib
*.dll
*.lib
*.pro.user*

# ignore build dirs
build
bin
doc
Makefile_by_*
examples/libwpc/libuio*
examples/libwpc/libkbus*
examples/libwpc/wago_ipc_kbus*
faudes_*

# ignore libFAUDES  
libFAUDES_sources/*
libFAUDES_lx/*
libFAUDES_osx/*
libFAUDES_msys/*

# ignore example archieve
examples/blink/*.c_*
examples/blink/*.xml_*
examples/blink/*.st_*

# osx irritations
**/.DS*

# local archive
local