/* body padding */

body {
  margin: 0px;
  padding: 0px;
}

/* dislike small tt font */
tt {
    font-size: 125%;
} 

/* 1200px centered layout with divs */
div#cdes {
  max-width: 1200px; 
  margin-left:auto;
  margin-right:auto;
  padding: 0;
  /* background: #F9F1FC; */
}

#titlearea
{
	border-bottom: 1px solid var(--title-separator-color);
	background-color: var(--title-background-color);
}

/* fgdes link: refs visible */
#titlearea table {
  width: 100%;
}

/* fgdes link: erefs visible */
#titlearea a:visited {
 /* color: #FBFCFD; */
}

/* fgdes link: expand title */
#titlearea a {
  /* color: #FBFCFD; */
}

/* fgdes link, line 1 */
#fgdeslink {
    font: 200% Tahoma, Arial,sans-serif;
    margin: 0px;
    text-align: right;
    padding: 2px 0px;
}

/* fgdes link, line 2 */
#fgdesbrief {
    font: 90% Tahoma, Arial,sans-serif;
    margin: 0px;
    padding: 2px 0px;
    text-align: right;
}

